{% extends "base.html" %}

<!-- title -->
{% block title %}Dashboard{% endblock %}

<!-- content -->
{% block content %}
<h1 class="mt-4">股票代碼</h1>

<!-- <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol> -->
<div class="row mb-2">
  <div class="col-4">
    <input class="form-control" type="text" id="inputStockId"/>
  </div>
  <div class="col-8">
    <button class="btn btn-primary" type="submit" onclick="updateAll()">
      送出
    </button>
  </div>
</div>
<!-- <div class="col-12">
  <div class="card mb-4">
    <div class="card-header fw-bold">
      <i class="fa-solid fa-sack-dollar"></i>
      未實現損益
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>股號代碼</th>
            <th>股號名稱</th>
            <th>庫存</th>
            <th>買成日期</th>
            <th>付出成本</th>
            <th>風險</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>股號代碼</th>
            <th>股號名稱</th>
            <th>庫存</th>
            <th>買成日期</th>
            <th>付出成本</th>
            <th>風險</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>2330</td>
            <td>台積電</td>
            <td>1,000</td>
            <td>2022/06/10</td>
            <td>530,000</td>
            <td>0%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<!-- <table class="table caption-top">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
<div class="row mb-2">
  <div class="col-12 col-md-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="profile-Mix-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile-Mix"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          月營收
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="revenue-tab"
          data-bs-toggle="tab"
          data-bs-target="#revenue"
          type="button"
          role="tab"
          aria-controls="revenue"
          aria-selected="true"
        >
          月營收表
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="incomeStatement-tab"
          data-bs-toggle="tab"
          data-bs-target="#incomeStatement"
          type="button"
          role="tab"
          aria-controls="incomeStatement"
          aria-selected="false"
        >
          損益率
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade"
        id="revenue"
        role="tabpanel"
        aria-labelledby="revenue-tab"
      >
        <div class="col-xl-12">
          <div class="card mb-4">
            <!-- <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Mix Chart Example
                        </div> -->
            <div class="card-body">
              <canvas id="myRevenueChart" width="100%" height="60"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="incomeStatement"
        role="tabpanel"
        aria-labelledby="incomeStatement-tab"
      >
        <div class="col-xl-12">
          <div class="card mb-4">
            <!-- <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div> -->
            <div class="card-body">
              <canvas
                id="myIncomeStatementChart"
                width="100%"
                height="60"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade show active"
        id="profile-Mix"
        role="tabpanel"
        aria-labelledby="profile-Mix-tab"
      >
        <div class="col-xl-12">
          <div class="card mb-4">
            <!-- <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Bar Chart Example
                        </div> -->
            <div class="card-body">
              <canvas id="myBarChart" width="100%" height="60"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-3 mb-4">
    <div class="card mb-3" id="inputListData">
      <div class="card-header">
        公司名稱
        <span class="float-end">台灣水泥股分有限公司</span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">產業別
          <span class="float-end">水泥工業</span>
        </li>
        <li class="list-group-item">每股盈餘
          <span class="float-end">0.2</span>
        </li>
        <li class="list-group-item">營業收入
          <span class="float-end">22973461</span>
        </li>
        <li class="list-group-item">營業利益
          <span class="float-end">207623</span>
        </li>
        <li class="list-group-item">營業外收入及支出
          <span class="float-end">964488</span>
        </li>
        <li class="list-group-item">稅後淨利
          <span class="float-end">856806</span>
        </li>
      </ul>
    </div>
    
    <div class="card">
      <div class="card-header h5">
        風險評估
        <button
        type="button"
        class="btn btn-white question-btn ps-0"
        data-bs-toggle="modal"
        data-bs-target="#btnModal">
        <i class="fa-regular fa-circle-question"></i>
      </button>
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
          <span>短期風險值</span>
          <span class="float-end">0.00%</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <span>中期風險值</span>
          <span class="float-end">0.00%</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <span>長期風險值</span>
          <span class="float-end">0.00%</span>
        </a>
      </div>
    </div>


    <div class="mt-4 float-end">
      <button class="btn btn-primary" type="submit">
        新增
      </button>
    </div>
    
  </div>
</div>
  <!-- <div class="row"></div> -->
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header fw-bold">
        <i class="fa-solid fa-sack-dollar"></i>
        未實現損益
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>股號代碼</th>
              <th>股號名稱</th>
              <th>庫存</th>
              <th>買成日期</th>
              <th>付出成本</th>
              <th>風險</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>股號代碼</th>
              <th>股號名稱</th>
              <th>庫存</th>
              <th>買成日期</th>
              <th>付出成本</th>
              <th>風險</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>2330</td>
              <td>台積電</td>
              <td>1,000</td>
              <td>2022/06/10</td>
              <td>530,000</td>
              <td>0%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="btnModal"
  tabindex="-1"
  aria-labelledby="btnModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="btnModalLabel">說明</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
