{% extends "base.html" %}

<!-- title -->
{% block title %}Home{% endblock %}

<!-- content -->
{% block content %}

<!-- MENU - LINK -->
<div class="row mt-3">
  <div class="col-xl-3 col-md-6">
    <input
      type="text"
      class="form-control"
      id="ETF_name"
      placeholder="ETF 名稱"
    />
  </div>
  <div class="col-xl-3 col-md-6">
    <button type="submit" class="btn btn-primary">新增</button>
  </div>
</div>

<div class="card mt-2 col-6">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

{% endblock %}
